<h2>Registration</h2>
<form action ='/' method='POST'>
    <label>First Name
       <input type='text' name='firstName_id' value='' placeholder="Enter your First Name here"/>
    </label>
    <br>
    <label>Last Name
        <input type='text' name='lastName_id' value='' placeholder="Enter your Last Name here"/>
     </label>
     <br>
     <label>Email
        <input type='text' name='email_id' value='' placeholder="Enter your Email here"/>
     </label>
    <br>
    <label>Password
        <input type='password' name='pass_id' value='' placeholder='Enter your Password here'/>
    </label>
    <button type='submit'>Sign up!</button>
</form>